.link {
  display: flex;
  background-color: #3a39395f;
  justify-content: space-between;
  align-items: center;
  /* backdrop-filter: blur(5px); */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    svg {
      width: 40px;
    }

    p {
      font-size: 35px;

      text-transform: uppercase;
      font-weight: 900;
      color: transparent;
      background-image: url("../images/indian_flag.webp");
      background-clip: text;
      background-size: contain;
    }
  }

  ul {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: 1000;
    margin: 0;
    display: flex;
    background-color: #242323;
    /* width: 100vw; */
    gap: 35px;
    padding: 10px 8px;
    border-radius: 20px 20px 0 0;
    justify-content: center;

    li {
      list-style-type: none;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: center;
        gap: 5px;
      }
    }
  }

  .authBtn {
    button {
      padding: 10px 20px;
      border: none;
      text-transform: capitalize;
      color: white;
      border-radius: 15px;
    }
    button:first-child {
      background-color: #16cca5;
      margin-right: 5px;
    }

    button:last-child {
      background-color: #242323;
      display: none;
    }
  }

  /* Main Header */
}

.whatIsStrike {
  margin-top: 80px;
  padding: 0px 15px;
  .main-header {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", "Montserrat", "Raleway", sans-serif;
    font-weight: 900;
    font-size: 50px;
    h1 {
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 900;

      background-image: url("../images/indian_flag.webp");
      background-clip: text;
      -webkit-background-clip: text;
      background-size: contain;
      color: transparent;

      background-repeat: repeat-x;
    }
    p {
      background: none;
      color: white;
    }
  }

  .typeWritter-effect {
    margin-top: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    h2 {
      font-size: 22px;
      text-align: center;
      span {
        color: #10b18e;
        text-transform: uppercase;
      }
    }

    ul {
      height: 35px;
      line-height: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      overflow: hidden;

      li {
        list-style-type: none;
        color: greenyellow;
        top: 0;
        animation: slide-up calc(1.5 * 3 * 2s) steps(3) infinite;

        span {
          text-transform: uppercase;
          font-size: 25px;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          animation: typing 1.5s steps(7) infinite alternate;
          display: inline-block;
        }
      }
    }
  }

  .invite {
    margin-top: 15px;
 
    p {
      text-align: center;
      font-size: 19px;
      line-height: 1.4;
      color:rgb(194, 203, 228);

      /* background-color: red; */
    }

      div {
        display: flex;
        flex-direction: column;
        margin: 25px 0px;
        gap: 25px ;

        a {
          text-decoration: none;
          padding:10px 20px;
          display: flex;
          color: white;
          font-size: 20px;
          align-items: center;
          gap: 10px;
          border-radius: 14px;
          transition: all 0.3s;
        }
        a:first-child {
          background-color: #16cca5;
          &:hover {
            background-color:#136e59;
          }
        }

        a:last-child {
           border: 1px solid grey;
           &:hover {
             scale: 1.1;
           }
        }
      }
  }
 
}

.home-section {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.cube-container {
  perspective: 1000px;

  /* margin: 400px auto; */
  display: flex;
  justify-content: center;
  margin-top: 75px auto;
  /* background-color: red; */
  width: 75vw;
  padding-top: 50px;
  height: 500px;
  /* background-color: red; */
  margin: auto;
}
.cube {
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  /* transform: rotateX(30deg); */
  animation: rotate 5s linear infinite;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.side {
  width: 250px;
  height: 250px;
  font-size: 80px;
  color: white;
  display: grid;
  place-items: center;
  position: absolute;
  /* background-image: linear-gradient(#151515,#10b18e,); */
  background-image: linear-gradient(black, #10b18e, black);
  svg {
    width: 200px;
    height: 200px;
  }
}

.side1 {
  transform: translateZ(125px);
}
.side2 {
  transform: rotateY(90deg) translateZ(125px);
}
.side3 {
  transform: rotateY(90deg) translateZ(-125px);
}
.side4 {
  transform: rotateX(90deg) translateZ(125px);
}
.side5 {
  transform: rotateX(-90deg) translateZ(125px);
}
.side6 {
  transform: rotateY(180deg) translateZ(125px);
}

/* Tablet design */

@media screen and (min-width: 760px) {

 

  .cube-container {
      padding-top: 150px;
  }
  .link {
    display: flex;
    /* background-color: aquamarine  ; */
    align-items: center;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 10px 0px;

    .authBtn {
      margin-right: 10px;
      button {
        padding: 10px 20px;
        border: none;
        text-transform: capitalize;
        color: white;
        border-radius: 15px;
      }

      button:first-child {
        background-color: #16cca5;
      }

      button:last-child {
        background-color: #242323;
      }
    }

    ul {
      gap: 20px;
      width: fit-content;
      position: static;

      padding: 10px 25px;
      border-radius: 20px;
      background-color: #0d0d0d;

      li {
        position: relative;
        display: block;
        transition: scale 0.3s ease, margin 0.3s ease;

        a {
          svg {
            display: none;
          }
        }

        &:hover {
          scale: 1.4;
          margin: 0px 10px;
          a {
            color: #16cca5;
          }
        }

        &::after {
          content: "";
          position: absolute;
          width: 0%;
          height: 10%;
          background-color: #10b18e;
          bottom: -10%;
          left: 0;

          transition: all 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .whatIsStrike {

    padding-left: 150px;
    
    .typeWritter-effect {
     
      justify-content: center;
     
      align-self: end;
      width: fit-content;
      /* display: flex; */
      margin: 30px auto;

      h2 {
        font-size: 30px;
        font-weight: 300;
        width: fit-content;
        text-align: left;

        span {
          color: #10b18e;
          text-transform: uppercase;
        }
      }

      ul {
        height: 50px;
        position: static;

        line-height: 50px;
        display: flex;
        flex-direction: column;
        /* margin-left: 20px; */
        align-items: start;
        overflow: hidden;

        li {
          list-style-type: none;

          /* background-color: red; */

          span {
            font-size: 45px;
            font-weight: 300;

            display: inline-block;
         
            text-transform: uppercase;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }

    .invite {
      p {
        font-size: 28px;
        text-align: left;
      }

      div {
        flex-direction: row;
      }
    }

  }
}

/* Desktop design */

@media screen and (min-width: 1024px) {
  .home-section {
    flex-direction: row;
  }

  .main-header {
  }

  /* Type Writter Effect */
  .whatIsStrike {
    .typeWritter-effect {
      h2 {
        font-size: 45px;

        /* background-color: #7d4aed; */
      }
    }
  }
}

@keyframes typing {
  0%,
  10% {
    width: 0%;
  }

  65%,
  100% {
    width: 100%;
  }
}

@keyframes slide-up {
  100% {
    translate: 0 -300%;
  }
}
