* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #090b0f;
  position: relative;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.link {
  ul {
    display: flex;
    gap: 20px;
    background-color: #0d0d0d;
    width: fit-content;
    margin: 15px auto;
    padding: 10px 25px;
    border-radius: 20px;

    li {
      list-style-type: none;
      position: relative;
      display: block;
      transition: scale 0.3s ease, margin 0.3s ease;

      a {
        text-decoration: none;
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }

      &:hover {
        scale: 1.4;
        margin: 0px 10px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 10%;
        background-color: #7d4aed;
        bottom: 0px;
        left: 0;
        transition: all 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

/* Main Header */

.main-header {
  h1 {
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
    font-family: "Poppins", "Montserrat", "Raleway", sans-serif;
    background-image: url("images/indian_flag.webp");
    background-clip: text;
    /* -webkit-background-clip: text; */
    background-size: cover;
    color: transparent;
    background-position: 30% 60%;
    background-repeat: repeat-x;
  }
}
/* Type Writter Effect */
.whatIsStrike {
  .typeWritter-effect {
    width: fit-content;
    display: flex;
    margin: auto;
   
    h2 {
      text-align: center;
      font-size: 45px;
      font-weight: 300;
      

      span {
        color: #10b18e;
        text-transform: uppercase;
        
      }
    }

    ul {
      height: 50px;
      overflow: hidden;
      
     
  
      li {
        list-style-type: none;
        margin-left: 12px;
        text-transform: uppercase;
        font-size: 45px;
        font-weight: 300;
        position: relative;
        /* line-height: 75px; */
        top: 0;
        animation: hide 16s steps(4)  infinite;
        color: #10b18e;
        /* background-color: red; */
       
        &::after {
          content: "";
          position: absolute;
          left:10%;
          width: 100%;
          height: 100%;
          background-color:#090b0f;
          animation: typing 4s steps(10) infinite;
          
        }
      }

    }
  }

  .invite {
   
    padding: 25px;
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
      font-size: xx-large;
      line-height: 1.4;
    }

    p:last-child {
      margin-top: 15px;
    }


    button {
      background-color:#0d0d0d;
      border:none;
      margin: auto;
      display: flex;
      width: fit-content;
      align-items: center;
      gap: 10px;
      margin-top: 50px;
      padding: 20px 30px;
      border-radius: 20px;
      font-size: 18px;
      transition: all 0.3 linear;

      a {
        text-decoration: none;
        color: white;
      }

      &:hover {
         background-color: #10b18e;
      }
    }

  }

  .why-should-join {
    display: flex;
    gap: 5px;
    margin: auto;
    width: fit-content;
    margin-top: 75px;
    div {
      /* background-color: gray; */
      width: 200px;
      /* background-color: red; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 100px;
       height: 100px;
      }

      .icon {
        width: 100px;
        height: 100px;
      }
       p {
        font-size: 20px;
        text-transform: capitalize;
         /* color: #10b18e; */
         
       }
    }
  }
}


  @keyframes  hide {
    100%{
      top: -200px;
    }
  } 


@keyframes typing {

 0% {
  left: 0%;
 }
  40%,60%{
    left:calc(100% + 10px);
  }
  100% {
    left: 0%;
  }
}
